/****** Object:  Database [ColegioEnriqueDeOssoPrueba]    Script Date: 16/11/2025 15:15:46 ******/
CREATE DATABASE [ColegioEnriqueDeOssoPrueba]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_4', MAXSIZE = 32 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[Anios_Lectivos]    Script Date: 16/11/2025 15:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anios_Lectivos](
	[ID_Anio_Lectivo] [int] IDENTITY(1,1) NOT NULL,
	[Anio] [int] NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[EstaActivo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Anio_Lectivo] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Anio] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asignaturas]    Script Date: 16/11/2025 15:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asignaturas](
	[ID_Asignatura] [int] IDENTITY(1,1) NOT NULL,
	[NombreAsignatura] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Asignatura] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreAsignatura] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asistencia]    Script Date: 16/11/2025 15:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asistencia](
	[ID_Asistencia] [int] IDENTITY(1,1) NOT NULL,
	[ID_Inscripcion] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Estado] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Asistencia] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ID_Inscripcion] ASC,
	[Fecha] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configuracion]    Script Date: 16/11/2025 15:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configuracion](
	[ID_Config] [int] IDENTITY(1,1) NOT NULL,
	[Clave] [nvarchar](100) NOT NULL,
	[Valor] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Config] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Clave] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Criterios_Evaluacion]    Script Date: 16/11/2025 15:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Criterios_Evaluacion](
	[ID_Criterio] [int] IDENTITY(1,1) NOT NULL,
	[ID_Curso] [int] NOT NULL,
	[NombreCriterio] [nvarchar](50) NOT NULL,
	[Valor_Maximo] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Criterio] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cursos]    Script Date: 16/11/2025 15:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cursos](
	[ID_Curso] [int] IDENTITY(1,1) NOT NULL,
	[ID_Anio_Lectivo] [int] NOT NULL,
	[ID_Grado] [int] NOT NULL,
	[ID_Seccion] [int] NOT NULL,
	[ID_Asignatura] [int] NOT NULL,
	[ID_Profesor] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Curso] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ID_Anio_Lectivo] ASC,
	[ID_Grado] ASC,
	[ID_Seccion] ASC,
	[ID_Asignatura] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estados_Estudiante]    Script Date: 16/11/2025 15:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados_Estudiante](
	[ID_Estado_Estudiante] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Estado_Estudiante] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreEstado] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiantes]    Script Date: 16/11/2025 15:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiantes](
	[id_estudiante] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO_ESTUDIANTE] [nvarchar](50) NULL,
	[PRIMER_NOMBRE] [nvarchar](100) NOT NULL,
	[SEGUNDO_NOMBRE] [nvarchar](100) NULL,
	[PRIMER_APELLIDO] [nvarchar](100) NOT NULL,
	[SEGUNDO_APELLIDO] [nvarchar](100) NULL,
	[FECHA_NACIMIENTO] [date] NOT NULL,
	[SEXO] [char](1) NOT NULL,
	[ID_Estado_Estudiante] [int] NOT NULL,
	[ID_Usuario] [int] NULL,
	[ID_Ficha_Activa] [int] NULL,
	[FechaRetiro] [datetime] NULL,
	[ID_Seccion_Actual] [int] NULL,
	[MotivoRetiro] [nvarchar](500) NULL,
	[FechaActualizacion] [nvarchar](500) NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estudiante] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ID_Ficha_Activa] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CODIGO_ESTUDIANTE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ID_Usuario] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FichasEstudiantiles]    Script Date: 16/11/2025 15:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FichasEstudiantiles](
	[ID_Ficha] [int] IDENTITY(1,1) NOT NULL,
	[ID_Estudiante] [int] NOT NULL,
	[ID_Anio_Lectivo] [int] NOT NULL,
	[ID_Grado_Matriculado] [int] NOT NULL,
	[EstadoFicha] [nvarchar](50) NOT NULL,
	[LugarNacimiento] [nvarchar](255) NULL,
	[RELIGION] [nvarchar](50) NULL,
	[ConQuienVive] [nvarchar](50) NULL,
	[ParentescoTutor] [nvarchar](50) NULL,
	[DOMICILIO] [nvarchar](500) NULL,
	[DIAGNOSTICO_SALUD] [nvarchar](255) NULL,
	[EstadoCivilPadres] [nvarchar](50) NULL,
	[NombrePadre] [nvarchar](255) NULL,
	[CedulaPadre] [nvarchar](16) NULL,
	[NivelAcademicoPadre] [nvarchar](100) NULL,
	[ProfesionPadre] [nvarchar](100) NULL,
	[LugarTrabajoPadre] [nvarchar](255) NULL,
	[TelefonoPersonalPadre] [nvarchar](9) NULL,
	[TelefonoTrabajoPadre] [nvarchar](9) NULL,
	[EmailPadre] [nvarchar](255) NULL,
	[NombreMadre] [nvarchar](255) NULL,
	[CedulaMadre] [nvarchar](16) NULL,
	[NivelAcademicoMadre] [nvarchar](100) NULL,
	[ProfesionMadre] [nvarchar](100) NULL,
	[LugarTrabajoMadre] [nvarchar](255) NULL,
	[TelefonoPersonalMadre] [nvarchar](9) NULL,
	[TelefonoTrabajoMadre] [nvarchar](9) NULL,
	[EmailMadre] [nvarchar](255) NULL,
	[PRIMER_NOMBRE_RESPONSABLE] [nvarchar](100) NULL,
	[SEGUNDO_NOMBRE_RESPONSABLE] [nvarchar](100) NULL,
	[PRIMER_APELLIDO_RESPONSABLE] [nvarchar](100) NULL,
	[SEGUNDO_APELLIDO_RESPONSABLE] [nvarchar](100) NULL,
	[FECHA_NACIMIENTO_RESPONSABLE] [date] NULL,
	[NACIONALIDAD_RESPONSABLE] [nvarchar](100) NULL,
	[TIPO_DOCUMENTO] [nvarchar](50) NULL,
	[NUMERO_DOCUMENTO] [nvarchar](50) NULL,
	[CELULAR] [nvarchar](9) NULL,
	[EmergenciaNombre1] [nvarchar](255) NULL,
	[EmergenciaTelefono1] [nvarchar](9) NULL,
	[EmergenciaNombre2] [nvarchar](255) NULL,
	[EmergenciaTelefono2] [nvarchar](9) NULL,
	[HERMANOS_COLEGIO] [nvarchar](500) NULL,
	[OBSERVACION] [nvarchar](max) NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaActualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Ficha] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ID_Estudiante] ASC,
	[ID_Anio_Lectivo] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grados]    Script Date: 16/11/2025 15:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grados](
	[ID_Grado] [int] IDENTITY(1,1) NOT NULL,
	[NombreGrado] [nvarchar](50) NOT NULL,
	[Siguiente_Grado_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Grado] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreGrado] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inscripciones]    Script Date: 16/11/2025 15:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inscripciones](
	[ID_Inscripcion] [int] IDENTITY(1,1) NOT NULL,
	[ID_Estudiante] [int] NOT NULL,
	[ID_Curso] [int] NOT NULL,
	[Nota_Corte1] [decimal](5, 2) NULL,
	[Nota_Corte2] [decimal](5, 2) NULL,
	[Nota_Corte3] [decimal](5, 2) NULL,
	[Nota_Corte4] [decimal](5, 2) NULL,
	[Nota_Valores_C1] [decimal](5, 2) NULL,
	[Nota_Valores_C2] [decimal](5, 2) NULL,
	[Nota_Valores_C3] [decimal](5, 2) NULL,
	[Nota_Valores_C4] [decimal](5, 2) NULL,
	[Promedio_Semestral_1] [decimal](5, 2) NULL,
	[Promedio_Semestral_2] [decimal](5, 2) NULL,
	[Promedio_Final_Cuantitativo] [decimal](5, 2) NULL,
	[Promedio_Final_Cualitativo] [nvarchar](50) NULL,
	[Nota_Conducta] [int] NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaActualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Inscripcion] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ID_Estudiante] ASC,
	[ID_Curso] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profesores]    Script Date: 16/11/2025 15:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesores](
	[ID_PROFESOR] [int] IDENTITY(1,1) NOT NULL,
	[PRIMER_NOMBRE] [nvarchar](100) NOT NULL,
	[SEGUNDO_NOMBRE] [nvarchar](100) NULL,
	[PRIMER_APELLIDO] [nvarchar](100) NOT NULL,
	[SEGUNDO_APELLIDO] [nvarchar](100) NULL,
	[CEDULA_IDENTIDAD] [nvarchar](16) NULL,
	[ESPECIALIDAD_DOCENTE] [nvarchar](255) NULL,
	[CARGO_REAL] [nvarchar](150) NULL,
	[CARGA_HORARIA] [nvarchar](20) NULL,
	[TITULOS] [nvarchar](200) NULL,
	[TURNO] [nvarchar](20) NULL,
	[OBSERVACIONES] [nvarchar](max) NULL,
	[ID_Usuario] [int] NULL,
	[EstaActivo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaActualizacion] [datetime] NULL,
	[FechaRetiro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PROFESOR] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CEDULA_IDENTIDAD] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ID_Usuario] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 16/11/2025 15:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID_Rol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Rol] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreRol] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Secciones]    Script Date: 16/11/2025 15:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Secciones](
	[ID_Seccion] [int] IDENTITY(1,1) NOT NULL,
	[NombreSeccion] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Seccion] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreSeccion] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 16/11/2025 15:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[ID_Rol] [int] NOT NULL,
	[EstaActivo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaActualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ValoresDelMes]    Script Date: 16/11/2025 15:15:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ValoresDelMes](
	[ID_ValorMes] [int] IDENTITY(1,1) NOT NULL,
	[NumeroMes] [int] NOT NULL,
	[NombreMes] [nvarchar](50) NOT NULL,
	[NombreValor] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ValorMes] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Anios_Lectivos] ADD  DEFAULT ((0)) FOR [EstaActivo]
GO
ALTER TABLE [dbo].[Criterios_Evaluacion] ADD  DEFAULT ((100)) FOR [Valor_Maximo]
GO
ALTER TABLE [dbo].[Cursos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Estudiantes] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[FichasEstudiantiles] ADD  DEFAULT ('Pendiente') FOR [EstadoFicha]
GO
ALTER TABLE [dbo].[FichasEstudiantiles] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Inscripciones] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Profesores] ADD  DEFAULT ((1)) FOR [EstaActivo]
GO
ALTER TABLE [dbo].[Profesores] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [EstaActivo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Asistencia]  WITH CHECK ADD FOREIGN KEY([ID_Inscripcion])
REFERENCES [dbo].[Inscripciones] ([ID_Inscripcion])
GO
ALTER TABLE [dbo].[Criterios_Evaluacion]  WITH CHECK ADD FOREIGN KEY([ID_Curso])
REFERENCES [dbo].[Cursos] ([ID_Curso])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD FOREIGN KEY([ID_Anio_Lectivo])
REFERENCES [dbo].[Anios_Lectivos] ([ID_Anio_Lectivo])
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD FOREIGN KEY([ID_Asignatura])
REFERENCES [dbo].[Asignaturas] ([ID_Asignatura])
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD FOREIGN KEY([ID_Grado])
REFERENCES [dbo].[Grados] ([ID_Grado])
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD FOREIGN KEY([ID_Profesor])
REFERENCES [dbo].[Profesores] ([ID_PROFESOR])
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD FOREIGN KEY([ID_Seccion])
REFERENCES [dbo].[Secciones] ([ID_Seccion])
GO
ALTER TABLE [dbo].[Estudiantes]  WITH CHECK ADD FOREIGN KEY([ID_Estado_Estudiante])
REFERENCES [dbo].[Estados_Estudiante] ([ID_Estado_Estudiante])
GO
ALTER TABLE [dbo].[Estudiantes]  WITH CHECK ADD FOREIGN KEY([ID_Ficha_Activa])
REFERENCES [dbo].[FichasEstudiantiles] ([ID_Ficha])
GO
ALTER TABLE [dbo].[Estudiantes]  WITH CHECK ADD FOREIGN KEY([ID_Seccion_Actual])
REFERENCES [dbo].[Secciones] ([ID_Seccion])
GO
ALTER TABLE [dbo].[Estudiantes]  WITH CHECK ADD FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuarios] ([ID_Usuario])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[FichasEstudiantiles]  WITH CHECK ADD FOREIGN KEY([ID_Anio_Lectivo])
REFERENCES [dbo].[Anios_Lectivos] ([ID_Anio_Lectivo])
GO
ALTER TABLE [dbo].[FichasEstudiantiles]  WITH CHECK ADD FOREIGN KEY([ID_Estudiante])
REFERENCES [dbo].[Estudiantes] ([id_estudiante])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FichasEstudiantiles]  WITH CHECK ADD FOREIGN KEY([ID_Grado_Matriculado])
REFERENCES [dbo].[Grados] ([ID_Grado])
GO
ALTER TABLE [dbo].[Grados]  WITH CHECK ADD FOREIGN KEY([Siguiente_Grado_ID])
REFERENCES [dbo].[Grados] ([ID_Grado])
GO
ALTER TABLE [dbo].[Inscripciones]  WITH CHECK ADD FOREIGN KEY([ID_Curso])
REFERENCES [dbo].[Cursos] ([ID_Curso])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inscripciones]  WITH CHECK ADD FOREIGN KEY([ID_Estudiante])
REFERENCES [dbo].[Estudiantes] ([id_estudiante])
GO
ALTER TABLE [dbo].[Profesores]  WITH CHECK ADD FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuarios] ([ID_Usuario])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([ID_Rol])
REFERENCES [dbo].[Roles] ([ID_Rol])
GO
